<section class="achievements" id="achievements">
    <div class="container">
        <ul class="wrapperAchievementsList">
            <li class="achievementsList achievementsListLow">
                <h2 class="titleAchievements">8760+ </h2>
                <p class="textUnderTitleAchievements"> Hours of experience</p>
            </li>
            <li class="achievementsList">
                <h2 class="titleAchievements">20+</h2>
                <p class="textUnderTitleAchievements">Countries where my clients come from</p>
            </li>
            <li class="achievementsList achievementsListLow">
                <h2 class="titleAchievements">100+</h2>
                <p class="textUnderTitleAchievements">Happy customers</p>
            </li>
        </ul>
    </div>
</section>