<footer class="footer" id="footer">
    <div class="container wrapperFooter">
        <ul class="wrapperMainInfoFooter">
            <li class="wrapperMainLogoName">
                <img class="mainLogoFooter" src="./img/mainLogo.webp" alt="logo" width="164" height="164" loading="lazy">
                <div class="wrapperMainNameFooter">
                    <h2 class="titleFooter">Linked<span class="mainTitleIn">In</span> Makeover</h2>
                    <p class="textUnderTitleFooter">M. THARWAT ABDELMOATI</p>
                </div>
            </li>
            <li class="wrapperContactInfo">
                <a href="tel:+48504829294" class="footerLinkPhone">
                    <svg class="footerLinkInfoSVG" width="48" height="48"><use href="./img/icons.svg#icon-phone"></use></svg>
                    +48 504829294
                </a>
                <a href="mailto:info@itsabdelmoati.com" class="footerLinkEmail" target="_blank">
                    <svg class="footerLinkInfoSVG" width="48" height="48"><use href="./img/icons.svg#icon-mail"></use></svg>
                    info@itsabdelmoati.com
                </a>
            </li>
            <li class="wrapperSocialLinkFooter">
                <a href="https://www.instagram.com/itsabdelmoati" class="linkToSocialInFooter" target="_blank"><svg class="footerLinkToSocial" width="40" height="40"><use href="./img/icons.svg#icon-instagram"></use></svg></a>
                <a href="https://www.linkedin.com/in/mohamed-abdelmoati" class="linkToSocialInFooter" target="_blank"><svg class="footerLinkToSocial" width="40" height="40"><use href="./img/icons.svg#icon-linkedin"></use></svg></a>
                <a href="https://www.youtube.com/@THARWATABDELMOATI" class="linkToSocialInFooter" target="_blank"><svg class="footerLinkToSocial" width="40" height="40"><use href="./img/icons.svg#icon-youtube"></use></svg></a>
                <a href="https://api.whatsapp.com/send?phone=48504829294" class="linkToSocialInFooter" target="_blank"><svg class="footerLinkToSocial" width="40" height="40"><use href="./img/icons.svg#icon-whatsapp"></use></svg></a>
                <a href="https://www.tiktok.com/@itsabdelmoati" class="linkToSocialInFooter" target="_blank"><svg class="footerLinkToSocial" width="40" height="40"><use href="./img/icons.svg#icon-tiktok"></use></svg></a>
                <a href="https://twitter.com/ItsAbdelmoati" class="linkToSocialInFooter" target="_blank"><svg class="footerLinkToSocial" width="40" height="40"><use href="./img/icons.svg#icon-twitterX"></use></svg></a>
                <a href="https://calendly.com/business-incorporation/linkedin-profile-optimization?month=2023-12" class="linkToSocialInFooter" target="_blank"><svg class="footerLinkToSocial" width="40" height="40"><use href="./img/icons.svg#icon-calendly"></use></svg></a>
                <a href="https://revolut.me/mohame9je6" class="linkToSocialInFooter" target="_blank"><svg class="footerLinkToSocial" width="40" height="40"><use href="./img/icons.svg#icon-revolut"></use></svg></a>
            </li>
        </ul>
        <nav class="footerNav">
            <p class="textMenuFooterNav">Menu</p>
            <ul class="footerNavList">
                <li class="footerNavLink">
                    <a href="#hero" class="navigationLink">About</a>
                </li>
                <li class="footerNavLink">
                    <a href="#howWork" class="navigationLink">Process</a>
                </li>
                <li class="footerNavLink">
                    <a href="#reviews" class="navigationLink">Reviews</a>
                </li>
                <li class="footerNavLink">
                    <a href="packages#" class="navigationLink">Packages</a>
                </li>
                <li class="footerNavLink">
                    <a href="#form" class="navigationLink">Get A Free Consultation</a>
                </li>
            </ul>
        </nav>
        <ul class="wrapperHelperList">
            <li class="helperListLink">
                <a href="../FAQ.html" class="linkToHelper">FAQ’s</a>
            </li>
            <li class="helperListLink">
                <a href="../resources.html" class="linkToHelper">Resources</a>
            </li>
            <li class="helperListLink">
                <a href="#" class="linkToHelper">Workshops</a>
            </li>
            <li class="helperListLink">
                <a href="#" class="linkToHelper">Privacy & Policy</a>
            </li>
        </ul>
    </div>
    <p class="footerTextAbout">Copyright &copy;2023 LinkedIn Profile Makeover | M. THARWAT ABDELMOATI, All rights reserved.</p>
</footer>