<section class="form" id="form">
    <div class="container">
        <h2 class="titleForm">Do you want free consultation?</h2>
        <p class="textFormUnderTitle">Choosing to use LinkedIn can be beneficial for professionals across various fields as it provides a centralized platform for professional development, networking, and career opportunities</p>
        <p class="textFormUnderTitle">Leave your data and I will contact you within 24 hours</p>
        <form action="#" class="mainForm" id="mainFormID">
            <div class="wrapperFormInputs">
                <label for="userNameLabel" class="inputForm">
                    <input id="userNameLabel" type="text" name="userName" class="inputInForm" required>
                    <span class="placeholderInInput">Name *</span>
                </label>
            </div>
            <div class="wrapperFormInputs">
                <label for="whoAreYouLabel" class="inputForm">
                    <input id="whoAreYouLabel" type="text" name="userWhoAreYou" class="inputInForm" required>
                    <span class="placeholderInInput">Who are you? *</span>
                </label>
            </div>
            <div class="wrapperFormInputs">
                <label for="userEmailLabel" class="inputForm">
                    <input id="userEmailLabel" type="email" name="userEmail" class="inputInForm" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                    <span class="placeholderInInput">Email address *</span>
                </label>
            </div>
            <div class="wrapperFormInputs">
                <label for="userPhoneLabel" class="inputForm">
                    <input id="userPhoneLabel" type="text" name="userPhone" class="inputInForm" required>
                    <span class="placeholderInInput">Phone number</span>
                </label>
            </div>
            <div class="wrapperFormInputs">
                <label for="userCommentLabel" class="inputForm">
                    <textarea id="userCommentLabel" name="userComments" class="inputInForm inputInFormTextarea" placeholder="To write something..."></textarea>
                </label>
            </div>
            <div class="wrapperFormInputs wrapperFormInputsMargin">
                <input type="checkbox" name="checkboxInput" id="checkboxInputID" required>
                <label for="checkboxInputID" class="checkboxFormLabel">I have read and agree to the <span class="checkboxPrivacyPolicy"><a class="checkboxPrivacyPolicyLink" href="#">Privacy Policy</a></span></label>
            </div>
            <button class="btnSendForm" type="submit">Submit</button>
        </form>
        <img class="formIMG" src="./img/form.webp" alt="form" width="680" height="510" loading="lazy">
    </div>
</section>