<section class="form" id="form">
    <div class="container">
        <h2 class="titleForm">Do you want free consultation?</h2>
        <p class="textFormUnderTitle">Choosing to use LinkedIn can be beneficial for professionals across various fields as it provides a centralized platform for professional development, networking, and career opportunities</p>
        <p class="textFormUnderTitle">Leave your data and I will contact you within 24 hours</p>
        <form action="#" class="mainForm" id="mainFormID">
            <div class="wrapperFormInputs">
                <label for="userNameLabel" class="inputForm">Name *</label>
                <input id="userNameLabel" type="text" name="userName" class="inputInForm" required>
            </div>
            <div class="wrapperFormInputs">
                <label for="whoAreYouLabel" class="inputForm">Who are you? *</label>
                <input id="whoAreYouLabel" type="text" name="userWhoAreYou" class="inputInForm" required>
            </div>
            <div class="wrapperFormInputs">
                <label for="userEmailLabel" class="inputForm">Email address *</label>
                <input id="userEmailLabel" type="text" name="userEmail" class="inputInForm" required>
            </div>
            <div class="wrapperFormInputs">
                <label for="userPhoneLabel" class="inputForm">Phone number</label>
                <input id="userPhoneLabel" type="text" name="userPhone" class="inputInForm">
            </div>
            <div class="wrapperFormInputs">
                <label for="userCommentLabel" class="inputForm">To write something...</label>
                <textarea id="userCommentLabel" type="text" name="userComments" class="inputInForm"></textarea>
            </div>
            <div class="wrapperFormInputs">
                <input type="checkbox" name="checkboxInput" id="checkboxInputID">
                <label for="checkboxInputID" class="checkboxFormLabel">I have read and agree to the <span class="checkboxPrivacyPolicy"><a class="checkboxPrivacyPolicyLink" href="#">Privacy Policy</a></span></label>
            </div>
            <button class="btnSendForm" type="submit">Submit</button>
        </form>
        <img src="./img/form.webp" alt="form" width="680" height="510">
    </div>
</section>