<section class="future" id="future">
    <div class="container">
        <h2 class="titleFutureMobile">Transform Your Future</h2>
        <img src="./img/future.webp" alt="future" class="futureIMG" width="530" height="530" loading="lazy">
        <div class="wrapperFutureTitleText">
            <h3 class="titleFutureDesc">Transform Your Future</h3>
            <p class="textFuture">This comprehensive guide unveils the secrets to LinkedIn success, empowering you to:</p>
            <ol class="futureList">
                <li class="futureListText">Craft an irresistible profile that stands out to employers and connections.</li>
                <li class="futureListText">Master the art of networking and discover lucrative opportunities.</li>
                <li class="futureListText">Leverage LinkedIn Groups and Communities for enhanced visibility.</li>
                <li class="futureListText">Propel your brand through strategic content, advertising, and lead generation.</li>
                <li class="futureListText">Don't miss out on the chance to enhance your career and personal brand.</li>
            </ol>
            <button class="btnFuture" type="button" id="btnFuture">Order Now</button>
        </div>
    </div>
</section>