<header class="header" id="header">
    <div class="container wrapperHeader">
        <img src="./img/mainLogo.webp" alt="logo" class="mainLogoHeader" width="72" height="72" loading="lazy">
        <nav class="navHeader">
            <ul class="listNavHeader">
                <li class="navigationHeader"><a href="" class="navigationLinkHeader">About</a></li>
                <li class="navigationHeader"><a href="" class="navigationLinkHeader">Process</a></li>
                <li class="navigationHeader"><a href="" class="navigationLinkHeader">Reviews</a></li>
                <li class="navigationHeader"><a href="" class="navigationLinkHeader">Packages</a></li>
                <li class="navigationHeader"><a href="" class="navigationLinkHeader">Get A Free Consultation</a></li>
            </ul>
        </nav>
        <ul class="wrapperSocialLinkHeader">
            <li class="listToSocialLinkHeader">
                <a href="" class="linkToSocialHeader">
                    <svg class="svgLinkToSociaHeader" width="36" height="36">
                        <use href="./img/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="listToSocialLinkHeader">
                <a href="" class="linkToSocialHeader">
                    <svg class="svgLinkToSociaHeader" width="36" height="36">
                        <use href="./img/icons.svg#icon-phone"></use>
                    </svg>
                </a>
            </li>
            <li class="listToSocialLinkHeader">
                <a href="" class="linkToSocialHeader">
                    <svg class="svgLinkToSociaHeader" width="36" height="36">
                        <use href="./img/icons.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <svg class="burgerMenu" width="48" height="48">
            <use href="./img/icons.svg#icon-burger-menu"></use>
        </svg>
    </div>
</header>