<header class="header" id="header">
    <div class="container wrapperHeader">
        <a href="/src/index.html"><img src="./img/mainLogo.webp" alt="logo" class="mainLogoHeader" width="72" height="72" loading="lazy"></a>
        <nav class="navHeader">
            <ul class="listNavHeader">
                <li class="navigationHeader"><a href="#hero" class="navigationLinkHeader">About</a></li>
                <li class="navigationHeader"><a href="#howWork" class="navigationLinkHeader">Process</a></li>
                <li class="navigationHeader"><a href="#reviews" class="navigationLinkHeader">Reviews</a></li>
                <li class="navigationHeader"><a href="#packages" class="navigationLinkHeader">Packages</a></li>
                <li class="navigationHeader"><a href="#form" class="navigationLinkHeader">Get A Free Consultation</a></li>
            </ul>
        </nav>
        <ul class="wrapperSocialLinkHeader">
            <li class="listToSocialLinkHeader">
                <a href="https://www.instagram.com/itsabdelmoati" class="linkToSocialHeader" target="_blank">
                    <svg class="svgLinkToSociaHeader" width="36" height="36">
                        <use href="./img/icons.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="listToSocialLinkHeader">
                <a href="tel:+48504829294" class="linkToSocialHeader">
                    <svg class="svgLinkToSociaHeader" width="36" height="36">
                        <use href="./img/icons.svg#icon-phone-notFill"></use>
                    </svg>
                </a>
            </li>
            <li class="listToSocialLinkHeader">
                <a href="https://www.youtube.com/@THARWATABDELMOATI" class="linkToSocialHeader" target="_blank">
                    <svg class="svgLinkToSociaHeader" width="36" height="36">
                        <use href="./img/icons.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <svg class="burgerMenu" id="burgerMenu" width="48" height="48">
            <use href="./img/icons.svg#icon-burger-menu"></use>
        </svg>
    </div>
</header>