<section class="hero" id="hero">
    <div class="container wrapperHero">
        <div class="mainTitleText">
            <h1 class="mainTitle">Linked<span class="mainTitleIn">In</span> Makeover</h1>
            <p class="mainText">In a world driven by digital connections, your LinkedIn profile is your passport to new horizons. We specialize in turning profiles from mere summaries to compelling narratives that captivate and resonate in the professional landscape</p>
            <p class="mainText mainTextFirst">Let's transform your LinkedIn presence into a powerful force that opens doors to success</p>
        </div>
        <div class="wrapperMainPhoto">
            <img class="mainPhoto" src="./img/mainPhoto.webp" alt="mainPhoto" width="480" height="540" loading="lazy">
            <div class="yellowBackG"></div>
        </div>
        <p class="mainText mainTextLast">Let's transform your LinkedIn presence into a powerful force that opens doors to success</p>
    </div>
</section>