<section class="howWork" id="howWork">
    <div class="container">
        <h2 class="titleHowWork">How It Works</h2>
        <div class="wrapperHowWorkList">
            <article class="wrapperHowWorkContent">
                <div class="wrapperTitleTextHowWork">
                    <h2 class="titleHowWorkList">Free 30-Minute Consultation</h3>
                    <p class="textHowWorkContent">Begin your journey with a free, no-obligation consultation. During this 30-minute session, we'll explore your goals, challenges, and expectations. This is an opportunity for you to get to know us and for us to understand how we can best serve you.</p>
                </div>    
                <img src="./img/howWork1.webp" alt="" class="howWorkListIMG" width="350" height="320">
            </article>
            <article class="wrapperHowWorkContent">
                <img src="./img/howWork2.webp" alt="" class="howWorkListIMG" width="350" height="320">
                <div class="wrapperTitleTextHowWork">
                    <h2 class="titleHowWorkContent">Payment Confirmation</h3>
                    <p class="textHowWorkContent">Following the consultation, if you're ready to proceed with our services, we'll discuss the proposed strategy tailored to your needs. Once you confirm your commitment, we'll request upfront payment to initiate the service. Our secure payment system ensures a smooth and hassle-free transaction.</p>
                </div>
            </article>
            <article class="wrapperHowWorkContent">
                <div class="wrapperTitleTextHowWork">
                    <h2 class="titleHowWorkList">Profile Analysis</h3>
                    <p class="textHowWorkContent">After payment confirmation, our experts conduct a comprehensive analysis of your current LinkedIn profile and resume. This step is crucial in identifying strengths and areas for improvement</p>
                </div>    
                <img src="./img/howWork3.webp" alt="" class="howWorkListIMG" width="350" height="320">
            </article>
            <article class="wrapperHowWorkContent">
                <img src="./img/howWork4.webp" alt="" class="howWorkListIMG" width="350" height="320">
                <div class="wrapperTitleTextHowWork">
                    <h2 class="titleHowWorkContent">Customized Strategy</h3>
                    <p class="textHowWorkContent">Based on the analysis, we create a personalized plan outlining the steps to optimize your profile or execute a lead generation strategy. You'll receive a detailed document, including the scope of work or you can ask for an in-person/online meeting to walk you through LinkedIn.</p>
                </div>
            </article>
            <article class="wrapperHowWorkContent">
                <div class="wrapperTitleTextHowWork">
                    <h2 class="titleHowWorkList">Review and Feedback</h3>
                    <p class="textHowWorkContent">You play a crucial role in the process. We value your input and encourage you to review the changes made to your profile or the progress of your lead generation strategy. Your feedback ensures the final result aligns perfectly with your vision.</p>
                </div>    
                <img src="./img/howWork5.webp" alt="" class="howWorkListIMG" width="350" height="320">
            </article>
        </div>
    </div>
</section>