<section class="packages">
    <div class="container swiper-container" id="addSwiperContainer">
        <h2 class="titlePackages">Packages</h2>
        <ul class="wrapperCardLevel swiper-wrapper" id="addSwiperWrapper">
            <li class="cardLevel swiper-slide" id="addSwiperSlide">
                <h3 class="titleCardLevel">Basic</h3>
                <ol class="cardLevelList">
                    <li class="cardList">30-Minute Free Consultation</li>
                    <li class="cardList">Profile Analysis</li>
                    <li class="cardList">Initial Optimization</li>
                    <li class="cardList">6-Month Ongoing Support</li>
                    <li class="cardList cardListOpacity">Exclusive LinkedIn Optimization Services</li>
                    <li class="cardList cardListOpacity">Custom Profile Photo & Banner</li>
                    <li class="cardList cardListOpacity">Resume Writing or Review</li>
                    <li class="cardList cardListOpacity">LinkedIn Profile Tips and Tricks Webinars</li>
                    <li class="cardList cardListOpacity">LinkedIn Strategy Consultations</li>
                    <li class="cardList cardListOpacity">Personal Branding Plan</li>
                    <li class="cardList cardListOpacity">LinkedIn Strategy Consultations</li>
                </ol>
                <button class="btnPackagesCard">Get Started</button>
            </li>
            <li class="cardLevel swiper-slide">
                <h3 class="titleCardLevel">Standard</h3>
                <ol class="cardLevelList">
                    <li class="cardList">30-Minute Free Consultation</li>
                    <li class="cardList">Profile Analysis</li>
                    <li class="cardList">Initial Optimization</li>
                    <li class="cardList">12-Month Ongoing Support</li>
                    <li class="cardList">Custom Profile Photo & Banner</li>
                    <li class="cardList">Exclusive LinkedIn Optimization Services</li>
                    <li class="cardList cardListOpacity">Resume Writing or Review</li>
                    <li class="cardList cardListOpacity">LinkedIn Profile Tips and Tricks Webinars</li>
                    <li class="cardList cardListOpacity">LinkedIn Strategy Consultations</li>
                    <li class="cardList cardListOpacity">Personal Branding Plan</li>
                    <li class="cardList cardListOpacity">LinkedIn Strategy Consultations</li>
                </ol>
                <button class="btnPackagesCard btnPackagesCardBlue">Get Started</button>
            </li>
            <li class="cardLevel swiper-slide">
                <h3 class="titleCardLevel">Professional</h3>
                <ol class="cardLevelList">
                    <li class="cardList">30-Minute Free Consultation</li>
                    <li class="cardList">Profile Analysis</li>
                    <li class="cardList">Initial Optimization</li>
                    <li class="cardList">12-Month Ongoing Support</li>
                    <li class="cardList">Custom Profile Photo & Banner</li>
                    <li class="cardList">Exclusive LinkedIn Optimization Services</li>
                    <li class="cardList">Resume Writing or Review</li>
                    <li class="cardList">LinkedIn Profile Tips and Tricks Webinars</li>
                    <li class="cardList">LinkedIn Strategy Consultations</li>
                    <li class="cardList">Personal Branding Plan</li>
                    <li class="cardList">LinkedIn Strategy Consultations</li>
                </ol>
                <div class="wrapperGift">
                    <svg class="svgGift" width="24" height="24">
                        <use href="./img/icons.svg#icon-gift"></use>
                    </svg>
                    <p class="cardList cardListGift">FREE GIFT: Get my LinkedIn optimization eBook as a bonus</p>
                </div>
                <button class="btnPackagesCard">Get Started</button>
            </li>
        </ul>
        <div class="swiper-pagination"></div>
    </div>
</section>