<section class="reviews" id="reviews">
    <div class="container">
        <h2 class="titleReviews">Reviews</h2>
        <div class="wrapperReviewsComments">
            <article class="userCommentsReviews">
                <div class="wrapperUserNameRaitingReviews">
                    <img src="./img/user1.webp" alt="user" class="userPhoto" width="55" height="55">
                    <ul class="wrapperUserNameReviews">
                        <li class="userNameReviews">
                            <h3 class="titleUserNameReviews">Ahmed Labib Mansour</h3>
                        </li>
                        <li class="userClassReviews">
                            <p class="textUserClass">QA & Test Automation Engineer...</p>
                        </li>
                    </ul>
                    <div class="wrapperCommentsStar">
                        <svg class="commentsStar" width="16" height="16">
                            <use href="./img/icons.svg#icon-star-full"></use>
                        </svg>
                        <svg class="commentsStar" width="16" height="16">
                            <use href="./img/icons.svg#icon-star-full"></use>
                        </svg>
                        <svg class="commentsStar" width="16" height="16">
                            <use href="./img/icons.svg#icon-star-full"></use>
                        </svg>
                        <svg class="commentsStar" width="16" height="16">
                            <use href="./img/icons.svg#icon-star-full"></use>
                        </svg>
                        <svg class="commentsStar" width="16" height="16">
                            <use href="./img/icons.svg#icon-star-full"></use>
                        </svg>
                    </div>
                </div>
                <p class="textCommentUserReviews">Eng. Mohamed is an exceptional LinkedIn profile writer who has helped me improve my online presence and attract more recruiters. His writing style...</p>
            </article>
            <article class="userCommentsReviews">
                <div class="wrapperUserNameRaitingReviews">
                    <img src="./img/user2.webp" alt="user" class="userPhoto" width="55" height="55">
                    <ul class="wrapperUserNameReviews">
                        <li class="userNameReviews">
                            <h3 class="titleUserNameReviews">Manar Ali</h3>
                        </li>
                        <li class="userClassReviews">
                            <p class="textUserClass">Software Tester Enthusiast | Compu...</p>
                        </li>
                    </ul>
                    <div class="wrapperCommentsStar">
                        <svg class="commentsStar" width="16" height="16">
                            <use href="./img/icons.svg#icon-star-full"></use>
                        </svg>
                        <svg class="commentsStar" width="16" height="16">
                            <use href="./img/icons.svg#icon-star-full"></use>
                        </svg>
                        <svg class="commentsStar" width="16" height="16">
                            <use href="./img/icons.svg#icon-star-full"></use>
                        </svg>
                        <svg class="commentsStar" width="16" height="16">
                            <use href="./img/icons.svg#icon-star-full"></use>
                        </svg>
                        <svg class="commentsStar" width="16" height="16">
                            <use href="./img/icons.svg#icon-star-full"></use>
                        </svg>
                    </div>
                </div>
                <p class="textCommentUserReviews">I am extremely grateful for the outstanding assistance I received from Eng. Mohamed in crafting my resume and optimizing my LinkedIn profile. His deep knowledge of the job market, coupled with his meticulous attention to detail, resulted in a remarkable transformation...</p>
            </article>
            <article class="userCommentsReviews">
                <div class="wrapperUserNameRaitingReviews">
                    <img src="./img/user3.webp" alt="user" class="userPhoto" width="55" height="55">
                    <ul class="wrapperUserNameReviews">
                        <li class="userNameReviews">
                            <h3 class="titleUserNameReviews">Nada Refaie</h3>
                        </li>
                        <li class="userClassReviews">
                            <p class="textUserClass">Software Tester at Mountasher | IT...</p>
                        </li>
                    </ul>
                    <div class="wrapperCommentsStar">
                        <svg class="commentsStar" width="16" height="16">
                            <use href="./img/icons.svg#icon-star-full"></use>
                        </svg>
                        <svg class="commentsStar" width="16" height="16">
                            <use href="./img/icons.svg#icon-star-full"></use>
                        </svg>
                        <svg class="commentsStar" width="16" height="16">
                            <use href="./img/icons.svg#icon-star-full"></use>
                        </svg>
                        <svg class="commentsStar" width="16" height="16">
                            <use href="./img/icons.svg#icon-star-full"></use>
                        </svg>
                        <svg class="commentsStar" width="16" height="16">
                            <use href="./img/icons.svg#icon-star-full"></use>
                        </svg>
                    </div>
                </div>
                <p class="textCommentUserReviews">I am thankful that you made the necessary modifications to my LinkedIn profile to align it with my area of expertise, "software testing." Your meticulous adjustments ...</p>
            </article>
        </div>
    </div>
</section>