<section class="study" id="study">
    <div class="container">
        <h2 class="titleStudy">Case Study</h2>
        <div class="wrapperStudyPhoto">
            <img src="./img/studyGirl.webp" alt="girl" width="490" height="534" loading="lazy">
            <div class="wrapperKasiaRaiting">
                <p class="nameStudyGirl">Kasia</p>
                <svg class="commentsStar" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-full"></use>
                </svg>
                <svg class="commentsStar" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-full"></use>
                </svg>
                <svg class="commentsStar" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-full"></use>
                </svg>
                <svg class="commentsStar" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-full"></use>
                </svg>
                <svg class="commentsStar" width="16" height="16">
                    <use href="./img/icons.svg#icon-star-full"></use>
                </svg>
            </div>
        </div>
        <article class="wrapperCaseStudy">
            <h3 class="titleCaseStudy">Case Study</h3>
            <p class="textCaseStudy">Meet Kasia, a client from Poland who initially hesitated to embrace LinkedIn. In our consultation, her skepticism echoed as she preferred popular local job websites like “Pracuj.pl and OLX”. 
Curious, I asked, "Are you getting results?" Her response was a resounding "no," prompting a deeper conversation about unlocking LinkedIn's potential.</p>
            <p class="textCaseStudy">During our consultation, I took the time to understand Kasia's unique career goals and aspirations. I explained how LinkedIn could serve as a transformative tool, enabling her to connect with industry professionals, showcase her expertise, and attract the attention of potential employers.</p>
            <p class="textCaseStudy">Weeks later, Kasia returned, ready to transform her professional presence and we created her first LinkedIn profile together. A few days later our service was delivered to her, and the results were remarkable. 
She secured her first job offer within 3 weeks of working with me on her profile. She was unemployed for six months. 
And the journey didn't stop there, 9 additional proposals have come to her, solidifying her career trajectory.</p>
            <p class="textCaseStudy">
If you find yourself resonating with Kasia's initial doubts, let me guide you towards your goals using the transformative power of LinkedIn.</p>
        </article>
    </div>
</section>