<section class="why" id="why">
    <div class="container">
        <h2 class="titleWhy">Why LinkedIn?</h2>
        <ul class="wrapperWhyContent">
            <li class="whyContentList">
                <svg class="whySVG" width="65" height="65">
                    <use href="./img/icons.svg#icon-upStairs"></use>
                </svg>
                <article class="whyContentTitleText">
                    <h3 class="whyTitleListContent">Get 2.5X more LinkedIn profile views</h3>
                    <p class="whyTextListContent">Unlock a surge of profile views with our comprehensive LinkedIn optimization strategy. We'll meticulously craft your content, strategically place relevant keywords, and enhance your profile's visibility, resulting in a significant increase in profile views</p>
                </article>
            </li>
            <li class="whyContentList">
                <svg class="whySVG" width="65" height="65">
                    <use href="./img/icons.svg#icon-like"></use>
                </svg>
                <article class="whyContentTitleText">
                    <h3 class="whyTitleListContent">Improve your professional reputation</h3>
                    <p class="whyTextListContent">Elevate your professional reputation with revamped "Experience" and "Skills & Endorsements" sections. We'll meticulously restructure and refine these crucial elements to showcase your expertise and establish you as an industry authority</p>
                </article>
            </li>
            <li class="whyContentList">
                <svg class="whySVG" width="65" height="65">
                    <use href="./img/icons.svg#icon-personList"></use>
                </svg>
                <article class="whyContentTitleText">
                    <h3 class="whyTitleListContent">Fascinate your audience</h3>
                    <p class="whyTextListContent">Capture your audience's attention from the moment they land on your profile. We'll design a custom background banner that seamlessly blends with your corporate identity, coupled with an eye-catching headline, engaging summary, and captivatingly written profile sections</p>
                </article>
            </li>
            <li class="whyContentList">
                <svg class="whySVG" width="65" height="65">
                    <use href="./img/icons.svg#icon-upCash"></use>
                </svg>
                <article class="whyContentTitleText">
                    <h3 class="whyTitleListContent">Increase conversion rate by 200%</h3>
                    <p class="whyTextListContent">Experience a 200% increase in conversion rates with our optimized LinkedIn profile. Proven statistics indicate that 75% of prospecting success hinges on a compelling LinkedIn profile. Your newly enhanced profile will attract more connections, transform profile viewers into paying customers, and propel you to professional success</p>
                </article>
            </li>
        </ul>
    </div>
</section>