.form{
    background-image: linear-gradient(to bottom, 
        rgba(192, 192, 192, 0.7), 
        rgba(192, 192, 192, 0.7)),
         url(../img/bgForm.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 32px 0;
    margin-bottom: 0;
}

.titleForm{
    color: #2152FF;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 26px;
}

.textFormUnderTitle{
    margin-bottom: 20px;
    color: #000;
}

.mainForm{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
   
}

.wrapperFormInputs:first-child { grid-area: 1 / 1 / 2 / 2; }
.wrapperFormInputs:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
.wrapperFormInputs:nth-child(3) { grid-area: 2 / 1 / 3 / 3; }
.wrapperFormInputs:nth-child(4) { grid-area: 3 / 1 / 4 / 3; }
.wrapperFormInputs:nth-child(5) { grid-area: 4 / 1 / 5 / 3; }
.wrapperFormInputs:nth-child(6) { grid-area: 5 / 1 / 6 / 3; }
.wrapperFormInputs:last-child { grid-area: 6 / 1 / 7 / 3; }

.inputForm{
    display: block;
    width: 100%;
    height: 40px;
    position: relative;
    border-bottom: 1px solid #000;
    background-color: transparent;
    margin-bottom: 20px;
}

.inputInForm{
    width: 100%;
    padding: 10px 5px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    position: absolute;
    bottom: 0;
}

.inputInForm::placeholder{
    color: #000;
    opacity: 0.7;
}

.placeholderInInput{
    color: #000;
    opacity: 0.7;
    position: absolute;
    top: 25%;
    left: 2%;
    font-weight: 500;
    transition: 0.3s;
    cursor: text;
}

.inputForm .inputInForm:focus + .placeholderInInput,
.inputForm .inputInForm:valid + .placeholderInInput{
    top: -15%;
    font-weight: 400;
    font-size: 12px;
    opacity: 0.5;
}

.btnSendForm{
    background-color: #2152FF;
    color: #fff;
    padding: 12px 58px;
    border: 0;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
}

.wrapperFormInputsMargin{
    margin-bottom: 40px;
}


.formIMG{
    display: none;
}

.inputInFormTextarea{
    resize: none;
}

@media (min-width: 768px){
    .titleForm{
        font-size: 35px;
    }

    .mainForm{
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .wrapperFormInputs:first-child { grid-area: 1 / 1 / 2 / 5; }
    .wrapperFormInputs:nth-child(2) { grid-area: 1 / 5 / 2 / 9; }
    .wrapperFormInputs:nth-child(3) { grid-area: 1 / 9 / 2 / 13; }
    .wrapperFormInputs:nth-child(4) { grid-area: 2 / 1 / 3 / 6; }
    .wrapperFormInputs:nth-child(5) { grid-area: 2 / 6 / 3 / 13; }
    .wrapperFormInputs:nth-child(6) { grid-area: 3 / 1 / 4 / 9; }
    .btnSendForm:last-child { grid-area: 4 / 1 / 5 / 4; }
}

@media (min-width: 1158px){
    .form{
        font-size: 16px;
        background-image: none;
        background-color: #fff;
        padding: 150px 0;
    }

    .titleForm{
        font-size: 60px;
    }

    .textFormUnderTitle{
        max-width: 748px;
    }

    .mainForm{
        max-width: 480px;
    }

    .checkboxFormLabel{
        color: #000;
        opacity: 0.8;
    }

    .checkboxPrivacyPolicyLink{
        color: #2152FF;
        opacity: 1;
        text-decoration: underline;
    }

    .mainForm{
        grid-template-rows: repeat(3, 1fr);
    }

    .btnSendForm:last-child { grid-area: 4 / 1 / 5 / 6; }

    .formIMG{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-15%, -15%);
        border-radius: 875px 320px 875px 320px; 
    }
}