header{
    padding: 15px 0;
}

.navHeader{
    display: none;
}

.wrapperSocialLinkHeader{
    display: none;
}

.wrapperHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burgerMenu{
    fill: #fff;
    transition: 0.3s;
}

.burgerMenu:focus, .burgerMenu:hover{
    fill: #f2ff79;
}

@media (min-width: 768px){
    .navHeader{
        display: block;
    }

    .burgerMenu{
        display: none;
    }

    .wrapperSocialLinkHeader{
        display: flex;
    }

    .listToSocialLinkHeader:first-child,
    .listToSocialLinkHeader:last-child{
        display: none;
    }

    .listNavHeader{
        display: flex;
        gap: 20px;
    }

    .navigationLinkHeader{
        color: #fff;
    }

    .svgLinkToSociaHeader{
        fill: #fff;
    }
}

@media (min-width: 1158px){

    header{
        margin-bottom: 80px;
    }

    .listNavHeader{
        gap: 30px;
    }

    .listToSocialLinkHeader:first-child,
    .listToSocialLinkHeader:last-child{
        display: inline-block;
    }

    .wrapperSocialLinkHeader{
        gap: 20px;
    }
}