.hero{
    padding: 40px 0;
}

.mainTitle{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.mainTitleIn{
    color: #FFF621;
}

.mainText{
    max-width: 320px;
    margin-bottom: 20px;
}

.mainTextFirst{
    display: none;
}

.wrapperMainPhoto{
    margin-bottom: 20px;
    position: relative;
}

.mainPhoto{
    border-radius: 40% 40% 49% 40%;
}

.yellowBackG{
    height: 350px;
    width: 280px;
    background-color: #FFF621;
    position: absolute;
    z-index: -1;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40% 40% 46% 35%;
}

.mainTextLast{
    margin-bottom: 0;
}

@media (min-width: 768px){

    .mainTextFirst{
        display: inline;
    }

    .mainTextLast{
        display: none;
    }

    .wrapperHero{
        display: flex;
    }

    .mainTitle{
        font-size: 40px;
        margin-bottom: 60px;
    }

    .mainText{
        max-width: 450px;
        line-height: 1.6;
        letter-spacing: 1.2px;
    }

    .yellowBackG{
        border-radius: 78% 69% 90% 72%;
        height: 75%;
        width: 90%;
    }
}