.hero{
    padding: 40px 0;
}

.mainTitle{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.mainTitleIn{
    color: #FFF621;
}

.mainText{
    max-width: 320px;
    margin-bottom: 20px;
}

.mainTextFirst{
    display: none;
}

.wrapperMainPhoto{
    margin-bottom: 20px;
}

.mainPhoto{
    background-color: #FFF621;
    border-radius: 50% 50% 50% 50%;
}

.mainTextLast{
    margin-bottom: 0;
}