.titleHowWork{
    font-size: 30px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.titleHowWork::before, .titleHowWork::after{
    content: '';
    width: 30px;
    height: 1px;
    background-color: #FFF621;
}

.wrapperHowWorkContent{
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
}

.wrapperHowWorkContentReverse{
    flex-direction: column-reverse;
}

.titleHowWorkNumber{
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    margin-right: 20px;
}

.titleHowWorkList{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 15px;
}

.textHowWorkContent{
    opacity: 0.7;
    margin-bottom: 40px;
}

.howWorkListIMG{
    max-width: 80%;
    border-radius: 40px;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 768px){
    .titleHowWork{
        font-size: 35px;
    }

    .wrapperHowWorkList{
        display: flex;
        flex-direction: column;
        gap: 150px;
    }

    .wrapperHowWorkContent{
        flex-direction: row;
        gap: 60px;
        justify-content: space-between;
        margin-bottom: 0;
    }

    .titleHowWorkNumber{
        font-size: 35px;
    }

    .titleHowWorkList{
        font-size: 20px;
    }

    .howWorkListIMG{
        max-width: 200px;
        max-height: 183px;
    }
}

@media (min-width: 1158px){
    .titleHowWork{
        font-size: 60px;
    }

    .titleHowWorkList{
        font-size: 40px;
    }

    .textHowWorkContent{
        max-width: 620px;
    }

    .howWorkListIMG{
        max-width: 350px;
        max-height: 320px;
    }
}